<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RB160W">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0085 0 -0.0377"
        rpy="0 0 0" />
      <mass
        value="42.0639" />
      <inertia
        ixx="0.516"
        ixy="0.0008"
        ixz="0.0248"
        iyy="1.7809"
        iyz="-0.0006"
        izz="1.9712" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0441195376" rpy="0 0 0" />
      <geometry>
        <box size="0.500000007 0.300000004 0.200000003" />
      </geometry>
    </collision>
  </link>
  <link
    name="FR_hip">
    <inertial>
      <origin
        xyz="0.0647 -0.0402 0"
        rpy="0 0 0" />
      <mass
        value="2.4" />
      <inertia
        ixx="0.0054"
        ixy="0.0015"
        ixz="0"
        iyy="0.0068"
        iyz="0"
        izz="0.0069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/FR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FR_hip_joint"
    type="revolute">
    <origin
      xyz="0.249 -0.1 -0.0666"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FR_hip" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FR_thigh">
    <inertial>
      <origin
        xyz="-0.0003 -0.042 -0.2193"
        rpy="0 0 0" />
      <mass
        value="3.606" />
      <inertia
        ixx="0.0349"
        ixy="0"
        ixz="0.0001"
        iyy="0.0356"
        iyz="-0.0037"
        izz="0.0063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/FR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.0533669752 -0.133612809" rpy="0 0 0" />
      <geometry>
        <box size="0.100000001 0.100000001 0.200000003" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0915 -0.106 0"
      rpy="0 0 0" />
    <parent
      link="FR_hip" />
    <child
      link="FR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FR_calf">
    <inertial>
      <origin
        xyz="-0.0002 0.0106 -0.2728"
        rpy="0 0 0" />
      <mass
        value="3.1193" />
      <inertia
        ixx="0.0503"
        ixy="0"
        ixz="-0.0001"
        iyy="0.0511"
        iyz="-0.0023"
        izz="0.0042" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/FR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0258235838 -0.155522285" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.02 0.2" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calf_joint"
    type="revolute">
    <origin
      xyz="0 -0.014 -0.27"
      rpy="0 0 0" />
    <parent
      link="FR_thigh" />
    <child
      link="FR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FR_WHEEL">
    <inertial>
      <origin
        xyz="0 -0.0011 0"
        rpy="0 0 0" />
      <mass
        value="0.8623" />
      <inertia
        ixx="0.0022"
        ixy="0"
        ixz="0"
        iyy="0.0041"
        iyz="0"
        izz="0.0022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/FR_WHEEL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FR_WHEEL_joint"
    type="revolute">
    <origin
      xyz="0 -0.0392 -0.351"
      rpy="0 0 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_WHEEL" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL_hip">
    <inertial>
      <origin
        xyz="-0.0647 0.0402 0"
        rpy="0 0 0" />
      <mass
        value="2.4" />
      <inertia
        ixx="0.0054"
        ixy="0.0015"
        ixz="0"
        iyy="0.0068"
        iyz="0"
        izz="0.0069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/RL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint
    name="RL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.249 0.1 -0.0666"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL_thigh">
    <inertial>
      <origin
        xyz="0.0003 0.042 -0.2193"
        rpy="0 0 0" />
      <mass
        value="3.606" />
      <inertia
        ixx="0.0349"
        ixy="0"
        ixz="-0.0001"
        iyy="0.0356"
        iyz="0.0037"
        izz="0.0063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/RL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0467948456 -0.140627479" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.1 0.2" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.0915 0.106 0"
      rpy="0 0 0" />
    <parent
      link="RL_hip" />
    <child
      link="RL_thigh" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL_calf">
    <inertial>
      <origin
        xyz="0.0002 -0.0106 -0.2728"
        rpy="0 0 0" />
      <mass
        value="3.1193" />
      <inertia
        ixx="0.0503"
        ixy="0"
        ixz="0.0001"
        iyy="0.0511"
        iyz="0.0023"
        izz="0.0042" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/RL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.02239 -0.16636" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.0199999996 0.200000003" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0.014 -0.27"
      rpy="0 0 0" />
    <parent
      link="RL_thigh" />
    <child
      link="RL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL_WHEEL">
    <inertial>
      <origin
        xyz="0 0.0011 0"
        rpy="0 0 0" />
      <mass
        value="0.8623" />
      <inertia
        ixx="0.0022"
        ixy="0"
        ixz="0"
        iyy="0.0041"
        iyz="0"
        izz="0.0022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/RL_WHEEL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint
    name="RL_WHEEL_joint"
    type="revolute">
    <origin
      xyz="0 0.0392 -0.351"
      rpy="0 0 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_WHEEL" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR_hip">
    <inertial>
      <origin
        xyz="-0.0647 -0.0402 0"
        rpy="0 0 0" />
      <mass
        value="2.4" />
      <inertia
        ixx="0.0054"
        ixy="-0.0015"
        ixz="0"
        iyy="0.0068"
        iyz="0"
        izz="0.0069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/RR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint
    name="RR_hip_joint"
    type="revolute">
    <origin
      xyz="-0.249 -0.1 -0.0666"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR_thigh">
    <inertial>
      <origin
        xyz="-0.0003 -0.042 -0.2193"
        rpy="0 0 0" />
      <mass
        value="3.606" />
      <inertia
        ixx="0.0349"
        ixy="0"
        ixz="0.0001"
        iyy="0.0356"
        iyz="-0.0037"
        izz="0.0063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/RR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.04679 -0.14063" rpy="0 0 0" />
      <geometry>
        <box size="0.100000001 0.100000001 0.200000003" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.0915 -0.106 0"
      rpy="0 0 0" />
    <parent
      link="RR_hip" />
    <child
      link="RR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR_calf">
    <inertial>
      <origin
        xyz="-0.0002 0.0106 -0.2728"
        rpy="0 0 0" />
      <mass
        value="3.1193" />
      <inertia
        ixx="0.0503"
        ixy="0"
        ixz="-0.0001"
        iyy="0.0511"
        iyz="-0.0023"
        izz="0.0042" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/RR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0223875218 -0.166363746" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.0199999996 0.200000003" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calf_joint"
    type="revolute">
    <origin
      xyz="0 -0.014 -0.27"
      rpy="0 0 0" />
    <parent
      link="RR_thigh" />
    <child
      link="RR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR_WHEEL">
    <inertial>
      <origin
        xyz="0 -0.0011 0"
        rpy="0 0 0" />
      <mass
        value="0.8623" />
      <inertia
        ixx="0.0022"
        ixy="0"
        ixz="0"
        iyy="0.0041"
        iyz="0"
        izz="0.0022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/RR_WHEEL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint
    name="RR_WHEEL_joint"
    type="revolute">
    <origin
      xyz="0 -0.0392 -0.351"
      rpy="0 0 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_WHEEL" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL_hip">
    <inertial>
      <origin
        xyz="0.0647 0.0402 0"
        rpy="0 0 0" />
      <mass
        value="2.4" />
      <inertia
        ixx="0.0054"
        ixy="-0.0015"
        ixz="0"
        iyy="0.0068"
        iyz="0"
        izz="0.0069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/FL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FL_hip_joint"
    type="revolute">
    <origin
      xyz="0.249 0.1 -0.0666"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FL_hip" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL_thigh">
    <inertial>
      <origin
        xyz="0.0003 0.042 -0.2193"
        rpy="0 0 0" />
      <mass
        value="3.606" />
      <inertia
        ixx="0.0349"
        ixy="0"
        ixz="-0.0001"
        iyy="0.0356"
        iyz="0.0037"
        izz="0.0063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/FL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.05337 -0.13361" rpy="0 0 0" />
      <geometry>
        <box size="0.100000001 0.100000001 0.200000003" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0915 0.106 0"
      rpy="0 0 0" />
    <parent
      link="FL_hip" />
    <child
      link="FL_thigh" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL_calf">
    <inertial>
      <origin
        xyz="0.0002 -0.0106 -0.2728"
        rpy="0 0 0" />
      <mass
        value="3.1193" />
      <inertia
        ixx="0.0503"
        ixy="0"
        ixz="0.0001"
        iyy="0.0511"
        iyz="0.0023"
        izz="0.0042" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/FL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.02582 -0.15552" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.0199999996 0.200000003" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0.014 -0.27"
      rpy="0 0 0" />
    <parent
      link="FL_thigh" />
    <child
      link="FL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL_WHEEL">
    <inertial>
      <origin
        xyz="0 0.0011 0"
        rpy="0 0 0" />
      <mass
        value="0.8623" />
      <inertia
        ixx="0.0022"
        ixy="0"
        ixz="0"
        iyy="0.0041"
        iyz="0"
        izz="0.0022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RB160W/meshes/FL_WHEEL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint
    name="FL_WHEEL_joint"
    type="revolute">
    <origin
      xyz="0 0.0392 -0.351"
      rpy="0 0 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_WHEEL" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
